form{
    margin-top: 5%;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 20px;
}

input{
    margin-bottom: 10px;
    padding: 5px;
}

textarea{
    margin-bottom: 10px;
    padding: 5px;
}

.GetHereImg{
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 20px;
}

.GetHereH5{
    margin-bottom: 1px;
}