.footer-surena{
    background-color: rgb(42, 41, 41) ;
    display: flex;
}
.header3-surena h3{
color: rgb(133, 133, 133);
}
*{
    color: white;
}
.img-logo{
    width: 50px;
}
.iconi{
    background-color: transparent;
    width: 35px;
    margin: 10px;
}
