*{
    text-align: center;
}

.img-ourangels{
    max-width: 250px;
    max-height: 250px;
}
/* start ourangels  */
.ourangels{
    padding: 50px 0;
}
.countainer{
    width: 85% auto;
}
.border{
    padding: 5px 5px;
    margin: 10px;
    border-radius: 3px;
    max-width: 260px;
}
.red-surena{
    padding: 4px 0 0 0;
color: rgb(235, 37, 37);
}
.button-surena{
    max-width: 20px;
    max-height: 20px;
    border-radius: 10px;
    margin: 6px;
}
button{
    border: none;
    background-color: transparent;
}
/* end ourangels  */